JWT_NAME=XXXXXXXXXXXXXXXXXXXXXXXXX
JWT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXX

MAIL_HOST=XXXXXXXXXXXXXXXXXXXXXXXXX
MAIL_PORT=XXXXXXXXXXXXXXXXXXXXXXXXX
MAIL_USER=XXXXXXXXXXXXXXXXXXXXXXXXX
MAIL_PASS=XXXXXXXXXXXXXXXXXXXXXXXXX

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXX
TYPEORM_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXX
TYPEORM_DATABASE=XXXXXXXXXXXXXXXXXXXXXXXXX
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/entity/**/*.ts
TYPEORM_MIGRATIONS=src/migration/**/*.ts
TYPEORM_SUBSCRIBERS=src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_SUBSCRIBERS_DIR=src/subscriber